.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}
.full {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 10%;
  gap: 2rem;
  background: #eeeeee;
  padding: 0rem 3rem 0rem 4rem;
}
.controls {
  border-radius: 20px;
  background-color: rgb(73, 73, 212);
  width: 20rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
